@*@model Persona*@
@model HomeIndexViewModel
@{
    ViewData["Title"] = "Pagina Principal";
    string ConvertirEnMayusculas(string valor)
    {
        return valor.ToUpper() + " zzz";
    }

}
<h2>Ejemplo 1</h2>
<div>
    Guid Transitorio: <b style = "color:red;">@Model.EjemploGUID_1.Transitorio</b>
</div>
<div>
    Guid Delimitado: <b style = "color:green;">@Model.EjemploGUID_1.Delimitado</b>
</div>
<div>
    Guid Unico: <b style = "color:blue;">@Model.EjemploGUID_1.Unico</b>
</div>
<partial name="_Presentacion" />

<partial name="_Habilidades"/>

<partial name="_SeccionProyectos" model="Model.proyectos"/>



